VITE_API_URL=http://127.0.0.1:8000/api
VITE_SHOW_DEMO_ACCOUNTS=false
VITE_PERSONALITY_QUIZ_URL=
VITE_BOOK_MEETING_URL=https://calendly.com/khumoyunnasipkulov/full-support-asia
VITE_SCHOOL_CONTACT_URL=
VITE_INSTAGRAM_URL=
VITE_LINKEDIN_URL=https://www.linkedin.com/in/khumoyun-nasipkulov
VITE_YOUTUBE_URL=https://www.youtube.com/@naseeb_edu
VITE_TELEGRAM_URL=https://t.me/naseeb_edu
