Django==5.2.4
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.0
django-cors-headers==4.7.0
drf-spectacular==0.28.0
python-decouple==3.8
Pillow==11.2.1
psycopg[binary]==3.2.9
whitenoise==6.9.0
gunicorn==23.0.0

dj-database-url==2.3.0
